*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

header, main, footer{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

header{
    background-color: #333;
    color: #fff;
    height: 10vh;
}

main{
    flex-grow: 1;
    max-height: 80vh;
}

footer{
    background-color: #333;
    color: #fff;
    height: 10vh;
}

.conteiner{
    width: 100%;
    height: 100%;
    max-height: 80vh;
    max-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-img-top{
    max-width: 250px;
    object-fit: cover;
}

button{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.modal{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    background-color: rgba(0, 0, 0, 0.5);
}

.janela{
    position: relative;
    top: 10vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.oculto{
    display:none;
}